//FONTS
$font-size-s:14px;
$font-size-l:16px;

//SIZES
$mobile:25em; //400px
$phablet:34.375em; //550px
$tablet:46.875em; //750px
$desktop:62.5em; //1000px
$desktop-hd:75em; //1200px

//COLORS
$color-primary: #f57f17;
$color-secondary: #212121;
$color-tertiary:#fafafa;
